<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        
        <title>About me</title>
    </head>
    
    <body>
         <div class="main-content">
            {{>header}}
            <p>This site was created by Kabul. It used data from mapbox.com and weatherstack.com</p>
            <img src="/img/robot.png">
        </div> 
        {{>footer}}
    </body>
</html>